#status {
  padding-top: 35px;
  top: 0;
}
.notification {
  padding-top: 45px !important;

  &.hasGlobal {
    padding-top: 50px !important;
  }
}

main {
  padding-top: 26px;
}

nav {
  padding-bottom: 25px !important;
}
