*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #3b3b48;
  color: #f3f3f3;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

#app {
  height: 100%;
  & > *:not(#nav) {
    height: calc(100% - 84px);
  }
}
